sunat_integration/sunat_complete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.sunat.gob.pe"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://service.sunat.gob.pe">

    <!-- TIPOS COMPLETOS - SIN IMPORTS EXTERNOS -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.sunat.gob.pe" elementFormDefault="qualified">
            
            <!-- ELEMENTOS PRINCIPALES -->
            <xsd:element name="sendBill" type="tns:sendBill"/>
            <xsd:element name="sendBillResponse" type="tns:sendBillResponse"/>
            <xsd:element name="sendSummary" type="tns:sendSummary"/>
            <xsd:element name="sendSummaryResponse" type="tns:sendSummaryResponse"/>
            <xsd:element name="sendPack" type="tns:sendPack"/>
            <xsd:element name="sendPackResponse" type="tns:sendPackResponse"/>
            <xsd:element name="getStatus" type="tns:getStatus"/>
            <xsd:element name="getStatusResponse" type="tns:getStatusResponse"/>
            <xsd:element name="getStatusAR" type="tns:getStatusAR"/>
            <xsd:element name="getStatusResponseAR" type="tns:getStatusResponseAR"/>
            
            <!-- TIPOS COMPLEJOS - sendBill -->
            <xsd:complexType name="sendBill">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="sendBillResponse">
                <xsd:sequence>
                    <xsd:element name="applicationResponse" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- TIPOS COMPLEJOS - sendSummary -->
            <xsd:complexType name="sendSummary">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="sendSummaryResponse">
                <xsd:sequence>
                    <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- TIPOS COMPLEJOS - sendPack -->
            <xsd:complexType name="sendPack">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="sendPackResponse">
                <xsd:sequence>
                    <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- TIPOS COMPLEJOS - getStatus -->
            <xsd:complexType name="getStatus">
                <xsd:sequence>
                    <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getStatusResponse">
                <xsd:sequence>
                    <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="content" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- TIPOS COMPLEJOS - getStatusAR -->
            <xsd:complexType name="getStatusAR">
                <xsd:sequence>
                    <xsd:element name="rucComprobante" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoComprobante" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serieComprobante" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroComprobante" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getStatusResponseAR">
                <xsd:sequence>
                    <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="content" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
        </xsd:schema>
    </wsdl:types>

    <!-- MENSAJES -->
    <wsdl:message name="sendBill">
        <wsdl:part name="parameters" element="tns:sendBill"/>
    </wsdl:message>
    <wsdl:message name="sendBillResponse">
        <wsdl:part name="parameters" element="tns:sendBillResponse"/>
    </wsdl:message>
    
    <wsdl:message name="sendSummary">
        <wsdl:part name="parameters" element="tns:sendSummary"/>
    </wsdl:message>
    <wsdl:message name="sendSummaryResponse">
        <wsdl:part name="parameters" element="tns:sendSummaryResponse"/>
    </wsdl:message>
    
    <wsdl:message name="sendPack">
        <wsdl:part name="parameters" element="tns:sendPack"/>
    </wsdl:message>
    <wsdl:message name="sendPackResponse">
        <wsdl:part name="parameters" element="tns:sendPackResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getStatus">
        <wsdl:part name="parameters" element="tns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part name="parameters" element="tns:getStatusResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getStatusAR">
        <wsdl:part name="parameters" element="tns:getStatusAR"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponseAR">
        <wsdl:part name="parameters" element="tns:getStatusResponseAR"/>
    </wsdl:message>

    <!-- PORT TYPE -->
    <wsdl:portType name="billService">
        <wsdl:operation name="sendBill">
            <wsdl:input name="sendBillRequest" message="tns:sendBill"/>
            <wsdl:output name="sendBillResponse" message="tns:sendBillResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendSummary">
            <wsdl:input name="sendSummaryRequest" message="tns:sendSummary"/>
            <wsdl:output name="sendSummaryResponse" message="tns:sendSummaryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendPack">
            <wsdl:input name="sendPackRequest" message="tns:sendPack"/>
            <wsdl:output name="sendPackResponse" message="tns:sendPackResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input name="getStatusRequest" message="tns:getStatus"/>
            <wsdl:output name="getStatusResponse" message="tns:getStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatusAR">
            <wsdl:input name="getStatusARRequest" message="tns:getStatusAR"/>
            <wsdl:output name="getStatusARResponse" message="tns:getStatusResponseAR"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- BINDING SOAP -->
    <wsdl:binding name="billServiceSoapBinding" type="tns:billService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="sendBill">
            <soap:operation soapAction="urn:sendBill"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="sendSummary">
            <soap:operation soapAction="urn:sendSummary"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="sendPack">
            <soap:operation soapAction="urn:sendPack"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="urn:getStatus"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getStatusAR">
            <soap:operation soapAction="urn:getStatusAR"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- SERVICIO -->
    <wsdl:service name="billService">
        <wsdl:port name="billServicePort" binding="tns:billServiceSoapBinding">
            <soap:address location="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>